= simple_form_for @form, wrapper: :horizontal_form do |f|
  - if @form.errors.any?
    = f.error :base, class: 'alert alert-danger'
  = f.input :name
  = f.input :avatar, as: :file

  - if @form.model.persisted?
    = f.input :life, disabled: @form.model.persisted?
    = f.input :attack, disabled: @form.model.persisted?
    = f.input :defense, disabled: @form.model.persisted?
  - else
    = f.input :life, collection: Character::LIFE_RANGE
    = f.input :attack, collection: Character::ATTACK_RANGE
    = f.input :defense, collection: Character::DEFENSE_RANGE

  = f.button :submit, class: 'w-100 btn btn-primary btn-lg'
